<h1>Apartments#index</h1>
<%= form_tag("", method: "get") do %>
  <div class="field">
    <%= label_tag(:adress, "Address:") %>
    <%= text_field_tag('search[address]') %>
  </div>

  <div class="field">
    <%= label_tag( :start_date, "Start date:") %>
    <%= date_field(:search, :start_date) %>
  </div>

  <div class="field">
    <%= label_tag(:end_date, "End date:") %>
    <%= date_field(:search, :end_date) %>
  </div>

  <%= submit_tag("Search") %>
<% end %>
