<h1>Apartments#index</h1>

<%= form_tag(apartments_path, method: "get") do %>
  <div class="field">
    <%= label_tag('search[address]', "Address:") %>
    <%= text_field_tag('search[address]', @address) %>
  </div>

  <div class="field">
    <%= label_tag( 'search[start_date]', "Start date:") %>
    <%= date_field_tag('search[start_date]', @start_date) %>
  </div>

  <div class="field">
    <%= label_tag('search[end_date]', "End date:") %>
    <%= date_field_tag('search[end_date]', @end_date) %>
  </div>

  <%= submit_tag("Search") %>
<% end %>

<% if @apartments %>
  <ul>
    <% @apartments.each do |a| %>
      <li>
        <%= "address : #{a.address}, price: #{a.price}" %>
      </li>
    <% end %>
  </ul>
<% end %>
