<h1>Available appartments</h1>

<%= render 'search_form' %>

<% if @apartments %>
  <ul>
    <% @apartments.each do |a| %>
      <li>
        <%= link_to image_tag(a.picture.url(:thumb)), apartment_path(a) %>
        <%= "address : #{a.address}, price: #{a.price}"%>
        <%= link_to 'Bookmark me!!', apartment_bookmarks_path(a), method: :post, data: {
          confirm: 'You really want to add this apartment to your wishlist??'}  %>
      </li>
    <% end %>
  </ul>
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    </script> <!-- remove the space between "/" and "script" -->
  <% end %>
<% end %>


