<div class="container content text-center">

  <h1>CREATE AN APPARTMENT</h1>

  <div id="newappart" class="text-center">

    <%= bootstrap_form_for(@apartment, html: { multipart: true}) do |f| %>
     <%= f.label :address %>
     <%= f.text_field :address, placeholder: 'Type your address' %>
     <%= f.label :description %>
     <%= f.text_area :description, placeholder: 'Describe your appartment' %>
     <%= f.label :price %>
     <%= f.number_field :price, placeholder: 'Type your price' %>

    <p>
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </p>

    <p><%= f.submit %></p>

    <% end %>

  </div>

</div>

