<h1>Create an Apartment</h1>

<%= form_for(@apartment, html: { multipart: true}) do |f| %>

  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :price %>
  <%= f.number_field :price %>

  <p>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </p>
  <p><%= f.submit %></p>


<% end %>
